{
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended"
  ],
  "rules": {
    "no-console": "off",
    "no-debugger": "off"
  },
  "parserOptions": {
    "parser": "vue-eslint-parser"
  }
}