<body style="overflow: auto;">
  <div id="app" data-v-app=""><!--
  fix highlighted size
  add price
  mailing list
  deploy
  add sorting
  more vendors
  mobile navigation
  more google events
  add dynamic updated date
  */-->
    <div class="app">
      <div data-v-6f6a8f6a=""></div>
      <h3 class="band"><span>Updated Wednesday, 9/20, 2:51 AM</span></h3>
      <div class="content">
        <div data-v-74da2344="" class="spider-page page">
          <div data-v-899529a2="" data-v-74da2344="" class="spider-page page">
            <div data-v-899529a2="" class="horizontal-cards"><!--v-if-->
              <div data-v-0afcf9c2="" data-v-899529a2="" class="product-card shadowy page"><img data-v-0afcf9c2=""
                  src="/corner.jpg" class="corner">
                <div data-v-0afcf9c2="" class="corner-text">Flow</div><a data-v-0afcf9c2=""
                  href="https://flowgardens.com/products/banana-bread" class="backdrop">
                  <div data-v-0afcf9c2="" class="beauty-wrapper">
                    <img data-v-0afcf9c2="" class="beauty pendulum"
                      src="https://cdn.shopify.com/s/files/1/0545/7631/6599/files/image_a833dcbc-fe82-47a5-95e6-f67ead58b0ef.jpg?v=1685728829"
                      alt="Banana Bread" style="--duration: 9284ms; --rotation: 61deg;">
                  </div>
                </a>
                <div data-v-0afcf9c2="" class="info">
                  <h3 data-v-0afcf9c2="">Banana Bread</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="/src/main.js?t=1695339253828"></script>


</body>